.albumTitle{
    text-align: center;
}

.allSongs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.updateSongBtn{
    margin-left: 5px;
}
.addNewSong{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.addNewSong:hover{
    box-shadow: #caa55686 -5px 5px, #caa55648 -10px 10px, #caa55623 -15px 15px, #caa55610 -20px 20px, #caa55609 -25px 25px;
}

.addSong{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.addSong img{
    margin-top: 20px;
}

.albumReview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.requiredComments, .requiredInputSong {
    color: red;
    visibility: hidden;
    font-size: large;
}
.displayReview{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.displayReview:hover{
    box-shadow: #8db9b57a 0px 2px 4px, #8db9b560 0px 7px 13px -3px, #8db9b528 0px -3px 0px inset;
}

.profileImg{
    height: 1.5cm;
    padding-right: 10px;
    margin-bottom: -10x;
}

.commentDisplay{
    margin-top: -20px;
}

.albumRating{
    margin-top: -20px;
    margin-bottom: -15px;;
}

#nameInput{
    margin-bottom: 3px;
}

#ratingInput{
    margin-bottom: 3px;  
}
#commentInput{
    margin-bottom: 5px;  
}
.reviewInput{
    margin-top: -10px;;
    margin-left: 15px;
    margin-bottom: 15px;
}
.reviewInput button{
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
}

@media screen and (max-width: 600px) {
  .displayReview{
    margin-left: 30px;
  }

}