.songComments{
    display: flex;
    flex-direction: column;
}
.songTitle{
    text-align: center;
}
.singleSong{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.songLink{
    margin-top: -18px;
    margin-bottom: -15px;
}

.displayReview{
    display: flex;
    background-color: #e07b39;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}
.displayComment:hover{
    box-shadow: #8db9b57a 0px 2px 4px, #8db9b560 0px 7px 13px -3px, #8db9b528 0px -3px 0px inset;
}
.profileImg{
    height: 1.5cm;
    padding-right: 10px;
}

.commentDisplay{
    margin-top: -20px;
    padding-bottom: 5px;
}
.comment{
    margin-bottom: -5px;
    flex-wrap: wrap;
}
.requiredCommentsSong{
    color: red;
    visibility: hidden;
    font-size: large;
}

.rating{
    margin-top: -15px;
    margin-bottom: -15px;;
}

#nameInput{
    margin-bottom: 3px;
}

#ratingInput{
    margin-bottom: 3px;  
}
#commentInput{
    margin-bottom: 5px;  
}
.reviewInput button{
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.commenreviewInputts button:hover{
    background-color: black;
    color: white;
}

.songsongInfoAndComments{
    display: flex;
    flex-direction: row;
}

.songTitleHeader{
    text-align: center;
    font-family: 'Bungee', cursive;
}

@media screen and (max-width: 600px) {
    .songTitleHeader{
        margin-left: 80px;
        text-align: left;
        align-content: center;
    }
    .songTitle{
        margin-left: 80px;
        text-align: left;
    }
    .songComments{
        align-items: center;
    }
    .comment{
        flex-wrap: wrap;
    }

  
}