.container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    gap: 5em;
    background-color: #dadbdc;
    font-family: 'Overpass', sans-serif;
}

.header{
    height: 2.5in;
    grid-area: header;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(../images/headerbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}
.headerImage{
    max-width: 100%;
    max-height: 100%; 
}  
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
    margin-top: 240px;
    background-color: #ffffff;
    font-family: 'Overpass', sans-serif;
    width: 100%;
}
.nav a:visited{
    color: #6BA9AC;
    text-decoration: none;
}
.nav-links{
    font-size: x-large;
    padding: 10px;
    text-decoration: none;
}

.main{
    grid-area: main;
    padding:0em 10em 0em 10em;
    color: #574F46;
}
.album{
    padding-bottom: 2em ;
    font-family: 'Bungee', cursive;
}
.albumTitle{
    font-family: 'Overpass', sans-serif;
}
.albumTitleHeader{
    text-align: center;
    font-family: 'Bungee', cursive;
}

.albumSongList{
    text-align: center;
}

.flip-card {
    background-color: transparent;
    width: 375px;
    height: 375px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-bottom: 3em;
    
}
.card-back>h1,p{
    color:#ffffff;
    font-family: 'Overpass', sans-serif;
    font-size: 22px;
}
.inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .inner {
    transform: rotateY(180deg);
    box-shadow: #caa55686 -5px 5px, #caa55648 -10px 10px, #caa55623 -15px 15px, #caa55610 -20px 20px, #caa55609 -25px 25px;
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
    
.card-front {
    background-color:white;
    color: black;
}
    
.card-back {
    background-color: #6BA9AC;
    color: rgb(15, 15, 15);
    transform: rotateY(180deg);
}
.updateIcon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
}
.deleteBtn{
    height: 1cm;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.updateBtn{
    margin-left: 5px;
}

.backBtn{
    height: 1cm;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer p{
   align-content: center;
    font-weight: bold;
    color: black;
}

@media screen and (max-width: 600px) {
    .nav{ 
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .aboutUs{
        margin-left: 10px;
    }
    .main{
        padding: 0;
    }
    .album{
        text-align: center;
    }
}